name: cicd

on:
  push:
  pull_request:
    branches:
      - '**:**'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: '16'

      - name: Display Node versions
        run: |
          node --version
          npm --version
      - name: Install dependencies
        run: npm install

      - name: Test corpus & parse examples
        run: npm test
