name: cicd

on:
  push:
  pull_request:
    branches:
      - '**:**'

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - run: nix flake check

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
      - run: nix build
      - run: nix develop -c sh -c 'tree-sitter generate --no-bindings && tree-sitter test'
